# static artifact
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Testing outputs
coverage/
reports/
jest-html-reporters-*.json

# Production 
build/
out/

# Mis
.DS_Store
Thumbs.db
*.log
*.pid
*.seed
*.pid.lock

# IDE settings and configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
